<a href="https://colab.research.google.com/github/channy33/Sesac_lecture/blob/master/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(60점을 기준 이상 : 합격, 미만: 불합격)
점수를 입력하세요 : xx  
xx 점으로 합격입니다.

점수를 입력하세요 : xx  
xx 점으로 불합격입니다.

In [ ]:
score = 75
if score>=60:
    print(f"{score} 점으로 합격 입니다.")
else:
    print(f"{score} 점으로 불합격 입니다.")

75 점으로 합격 입니다.

In [ ]:
score = int(input("점수를 입력하세요 : "))
conditions = score >= 60
if conditions:
    print(f"{score} 점으로 합격 입니다.")
else:
    print(f"{score} 점으로 불합격 입니다.")

1 점으로 불합격 입니다.

In [ ]:
# 수학점수와 영어 점수를 입력받고
# 둘다 80점 이상이면 합격, 둘중에 하나라도 만족하지 못하면 불합격
math_score = int(input("수학 점수를 입력하세요 : "))
eng_score = int(input("영어 점수를 입력하세요 : "))
condition_1 = math_score >= 80
condition_2 = eng_score >= 80 
# AND : 두개의 조건이 True(1) 인경우 -> True(1)
pass_condition = condition_1 and condition_2
# print(pass_condition)
if pass_condition:
    print(f"수학 점수: {math_score}, 영어점수: {eng_score} \n합격 입니다. ")
else:
    print("불합격 입니다. ")

불합격 입니다.

In [ ]:
condition = True
if condition:
    pass
else:
    pass

def fun_1():
    pass

In [ ]:
condition_3 = False
condition_4 = False
condition_5 = False

if condition_3:
    print("if")
elif condition_4:
    print("elif1")
elif condition_5:
    print("elif2")
else:
    print("else")

else

### 문제1.
```
srp라는 변수에 srp='가위'일 경우 '이겼다.' 출력
srp='바위' 일 경우 '졌다'출력
srp='보' 일 경우 '비겼다' 출력
```

### 문제2
```
태어난 연도를 입력하면 연령대를 출력하게 코딩하시오.
- 0세 이하 : 아직 태어나지 않았습니다.
- 80세 이상 : 측정할 수 없습니다. 
예)
태어난 연도를 입력하시오: 2004
나의 나이는 20입니다. 20대입니다.

- 값을 입력하는 함수는 input 함수 입니다.
- if문을 사용하는 방법, 사용하지 않는 방법
```

### 문제3
```
점수를 입력받고 학점이 출력하게 만들어 보세요
- 정수만을 입력받아야 합니다.
- 90 점 이상 A, 90미만 80 이상 B, 80 미만 70이상 C, 70 미만 60이상 D, 60 미만 F
- 실행결과
점수를 입력하세요 : 망했다 #isdigit()
잘못입력했습니다

정수를 입력하세요 : 100
당신의 등급 : A

정수를 입력하세요 : 110
옳바른 점수를 입력하세요

```

In [ ]:
srp = input("가위 바위 보 : ")

if srp == "가위":
    print("이겼다.")
elif srp == "바위":
    print("졌다.")
elif srp == "보":
    print("비겼다.")
else:
    print("잘못내셨습니다.")

이겼다.

In [ ]:
year = int(input("태어난 연도를 입력 하세요 : "))
age = 2023 - year + 1
# if 0 ~ 80 세
# elif ~ 0 세
# else 80 세 이상
if age > 0 and age < 80:
    if age < 10:
        print(f"나의 나이는 {age}입니다. 유년기 입니다")
    elif age < 20:
        print(f"나의 나이는 {age}입니다. 10대입니다")
    elif age < 30:
        print(f"나의 나이는 {age}입니다. 20대입니다")
    elif age < 40:
        print(f"나의 나이는 {age}입니다. 30대입니다")
    elif age < 50:
        print(f"나의 나이는 {age}입니다. 40대입니다")
    elif age < 60:
        print(f"나의 나이는 {age}입니다. 50대입니다")
    elif age < 70:
        print(f"나의 나이는 {age}입니다. 60대입니다")
    elif age < 80:
        print(f"나의 나이는 {age}입니다. 70대입니다")
elif age <= 0:
    print("아직 태어나지 않았습니다.")
else:
    print("측정할 수 없습니다.")

나의 나이는 39입니다. 30대입니다

In [ ]:
year = int(input("태어난 연도를 입력 하세요 : "))
age = 2023 - year + 1
gener = (age//10) * 10 
print(f"나의 나이는 {age}입니다. {gener}대입니다")

나의 나이는 1826입니다. 1820대입니다

In [ ]:
# 11시 5분에 시작

In [ ]:

# 문제3 번

score = int(input("점수를 입력 하세요 : "))
if score > 100:
    print("다시 입력하세요")
elif score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("재수강 하세요")

재수강 하세요

In [ ]:
# https://docs.python.org/3/library/stdtypes.html#str.isdigit


score = input("점수를 입력 하세요 : ")
if score.isdigit():
    score = int(score)
    if score > 100:
        print("다시 입력하세요")
    elif score >= 90:
        print("A")
    elif score >= 80:
        print("B")
    elif score >= 70:
        print("C")
    elif score >= 60:
        print("D")
    else:
        print("재수강 하세요")
else:
    print("올바른 점수를 입력하세요")

재수강 하세요

In [ ]:
# 나무 찍기
# 나무 1번 찍는다.
# 나무 2번 찍는다.
# 나무 3번 찍는다.
# ..
# 나무를 100번 찍는다.
# 나무가 넘어간다. 

# 범인의 자백을 받는다. 
# 너딱 열대만 맞자
# 1대 
# 2대
...
# 10대
# 아 그만

Ellipsis

```
for <target> in <object seq>:
    <수행할 문장1>
    <수행할 문장2>
else:
    <수행할 문장3>
```

In [ ]:
for i in [1,3,5,7]:
    print(i)
    print("===끝===")

1
===끝===
3
===끝===
5
===끝===
7
===끝===

In [ ]:
3 in [1,3,5,7]

True

In [ ]:
for 아이 in [1,3,5,7]:
    print(아이)
    print("===끝===")

1
===끝===
3
===끝===
5
===끝===
7
===끝===

In [ ]:
for 아이 in [1,3,5,7]:
    print("hello world")
    print("===끝===")

hello world
===끝===
hello world
===끝===
hello world
===끝===
hello world
===끝===

In [ ]:
for j in ["소","양","돼지","닭"]:
    print("hello world")
    print("===끝===")

hello world
===끝===
hello world
===끝===
hello world
===끝===
hello world
===끝===

In [ ]:
for for_val in ["소","양","돼지","닭"]:
    print(f"오늘은 {for_val}고기 먹는날")
    print("===끝===")

오늘은 소고기 먹는날
===끝===
오늘은 양고기 먹는날
===끝===
오늘은 돼지고기 먹는날
===끝===
오늘은 닭고기 먹는날
===끝===

In [ ]:
for for_val in "소양돼지":
    print(f"오늘은 {for_val}고기 먹는날")
    print("===끝===")

오늘은 소고기 먹는날
===끝===
오늘은 양고기 먹는날
===끝===
오늘은 돼고기 먹는날
===끝===
오늘은 지고기 먹는날
===끝===

In [ ]:
for_val_seq = [(1,2), (3,4), (5,6)]
for i in for_val_seq:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [ ]:
for_val_seq = [(1,2), (3,4), (5,6)]
for i,j in for_val_seq:
    print(f"i : {i}")
    print(f"j : {j}")
    print("========")

i : 1
j : 2
========
i : 3
j : 4
========
i : 5
j : 6
========

In [ ]:
for_val_seq = [(1,1.5,1.7,2), (3,3.5,3.7,4), (5,5.5,5.7,6)]
for i,*k,j in for_val_seq:
    print(f"i : {i}")
    print(f"k : {k}")
    print(f"j : {j}")
    print("========")

i : 1
k : [1.5, 1.7]
j : 2
========
i : 3
k : [3.5, 3.7]
j : 4
========
i : 5
k : [5.5, 5.7]
j : 6
========

In [ ]:
# range() 내장 함수
range(10)

range(0, 10)

In [ ]:
type(range(10))

range

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
# https://docs.python.org/3/library/functions.html#func-range
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [ ]:
for i in range(5, 10, 2):
    print(i)

5
7
9

In [ ]:
for i in range(10, 5, -1):
    print(i)

10
9
8
7
6

In [ ]:
# 예)
# ‒ 총 5명의 학생이 시험을 보았는데 시험점수가 60점이 넘으면 합격이고 그렇지않으면
# 불합격이다. 합격인지 불합격인지에 대한 결과를 보여줘라.
marks = [90, 25, 67, 45, 80]
numbers = 0
for score in marks:
    numbers = numbers + 1
    if score >= 60:
        print(f"{numbers}번 학생 {score}점으로 합격")
    else:
        print(f"{numbers}번 학생 불합격 입니다. ")

1번 학생 90점으로 합격
2번 학생 불합격 입니다.
3번 학생 67점으로 합격
4번 학생 불합격 입니다.
5번 학생 80점으로 합격

In [ ]:
# 재할당
numbers = 0 # 초기값 init 
numbers = numbers + 1 #numbers 를 재할당 한다. 
numbers += 1 # numbers = numbers + 1 와 같다. 
# numbers = + 1
print(numbers)

2

In [ ]:
numbers = + 1

In [ ]:
numbers

1

In [ ]:
numbers = 0
# numbers + 1 = numbers # 동작하지 않는다.

In [ ]:
a = 0
for i in range(10):
    a += 1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# list 재할당 or 추가
list_0 = ["레드벨벳", "트와이스", "블랙핑크"]
list_1 = ["르세라핌", "아이브", "아이들", "뉴진스"]
for i in list_1:
    list_0 += [i]
    print(list_0)
    print(id(list_0))

['레드벨벳', '트와이스', '블랙핑크', '르세라핌']
140414633569856
['레드벨벳', '트와이스', '블랙핑크', '르세라핌', '아이브']
140414633569856
['레드벨벳', '트와이스', '블랙핑크', '르세라핌', '아이브', '아이들']
140414633569856
['레드벨벳', '트와이스', '블랙핑크', '르세라핌', '아이브', '아이들', '뉴진스']
140414633569856

In [ ]:
list_0 = ["레드벨벳", "트와이스", "블랙핑크"]
list_1 = ["르세라핌", "아이브", "아이들", "뉴진스"]
for i in list_1:
    list_0.append(i)
    print(list_0)
    print(id(list_0))

['레드벨벳', '트와이스', '블랙핑크', '르세라핌']
140414629718976
['레드벨벳', '트와이스', '블랙핑크', '르세라핌', '아이브']
140414629718976
['레드벨벳', '트와이스', '블랙핑크', '르세라핌', '아이브', '아이들']
140414629718976
['레드벨벳', '트와이스', '블랙핑크', '르세라핌', '아이브', '아이들', '뉴진스']
140414629718976

In [ ]:
# 1시 35분에 시작

In [ ]:
marks = [90, 25, 67, 45, 80]
numbers = 0
for score in marks:
    numbers = numbers + 1
    if score <= 60:
        continue
        # pass
    print(f"{numbers}번 학생 합격 입니다. ")

1번 학생 합격 입니다.
3번 학생 합격 입니다.
5번 학생 합격 입니다.

In [ ]:
marks = [90, 25, 67, 45, 80]
numbers = 0
for score in marks:
    numbers = numbers + 1
    if score <= 60:
        continue
        # pass
    print(f"{numbers}번 학생 합격 입니다. ")

1번 학생 합격 입니다.
3번 학생 합격 입니다.
5번 학생 합격 입니다.

In [ ]:
for i in range(len(marks)):
    if marks[i] < 60:
        continue
    print(f"{i+1}번 학생 합격 입니다. ")

1번 학생 합격 입니다.
3번 학생 합격 입니다.
5번 학생 합격 입니다.

In [ ]:
# 예
# 구구단 계산기 
# 몇단을 계산 하시겠습니까? <숫자>
# 2 x 1 = 2
# 2 x 2 = 4
# ...
# 2 x 9 = 18

In [ ]:
num = int(input("몇단을 계산 하실 건가요? "))
for i in range(1, 10):
    res = num * i
    print(f"{num} x {i} = {res}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
# for 문을 이용해서 1부터 n까지의 합을 구할수 있도록 작성해 보세요
# > 1부터 어디까지 더하실 겁니까? 10
# > 55

num = int(input("부터 어디까지 더하실 겁니까? "))
acc = 0
for i in range(1, num + 1):
    acc += i 
print(acc)

1

In [ ]:
# 숫자 n을 입력 했을때 k 번 곱하는 반복문을 작성하세요 2^10 = 1024
# 숫자 n을 입력 하세요.
# 숫자 k를 입력 하세요.

num_1 = int(input("숫자 n을 입력 하세요 "))
num_2 = int(input("숫자 k를 입력 하세요 "))
acc = 1
for i in range(num_2):
    acc *= num_1

print(acc)



# 2
# 10

# 1*2
# 1*2*2
# 1*2*2*2
# ...
# 1*2*2*2*2*2*2*2*...*2

1

In [ ]:
# for & zip
list_name = ["오민엽", "김도훈", "손준현", "양호영"]
list_math = [11, 23, 94, 29]
list_eng = [22, 32, 11, 23]

In [ ]:
for i,j,k in zip(list_name, list_math, list_eng):
    print(f"이름 : {i}")
    print(f"수학점수 : {j}")
    print(f"영어점수 : {k}")

이름 : 오민엽
수학점수 : 11
영어점수 : 22
이름 : 김도훈
수학점수 : 23
영어점수 : 32
이름 : 손준현
수학점수 : 94
영어점수 : 11
이름 : 양호영
수학점수 : 29
영어점수 : 23

In [ ]:
# enumerate 
# enumerate() : list의 index와 함께 짝지어 주는 함수

for j, i in enumerate(list_name):
    print(f"{j}번째 이름 : {i}")

0번째 이름 : 오민엽
1번째 이름 : 김도훈
2번째 이름 : 손준현
3번째 이름 : 양호영

In [ ]:
for j, i in zip(range(len(list_name)), list_name):
    print(f"{j}번째 이름 : {i}")

0번째 이름 : 오민엽
1번째 이름 : 김도훈
2번째 이름 : 손준현
3번째 이름 : 양호영

In [ ]:
# list_comprehension
# -  list 내부에 조건식을 넣을수 있다.
# [<결과> for i in <list>]
# [<결과> for i in <list> if <condition>]

In [ ]:
list_2 = [i for i in range(1, 1000000, 2)]

In [ ]:
list_3 = [i for i in range(1, 1000000, 2) if i%3 == 0]

In [ ]:
# list_3

In [ ]:
# 2시 40분에 시작하겠습니다.
# 반복문 중첩
for i in range(5):
    print(f"i : {i}")
    for j in range(10, 13):
        print(f"j : {j}")

i : 0
j : 10
j : 11
j : 12
i : 1
j : 10
j : 11
j : 12
i : 2
j : 10
j : 11
j : 12
i : 3
j : 10
j : 11
j : 12
i : 4
j : 10
j : 11
j : 12

# 1 단부터 9단까지 한번에 출력되도록 작성해보세요
```
=====1단======
1x1 = 1
1x2 = 2
1x3 = 3
1x4 = 4
1x5 = 5
1x6 = 6
1x7 = 7
1x8 = 8
1x9 = 9
=====2단======
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
...


=====9단======
9x1 = 2
9x2 = 4
9x3 = 6
9x4 = 8
9x5 = 10
9x6 = 12
9x7 = 14
9x8 = 16
9x9 = 18
```

In [ ]:
for j in range(1, 10):
    print(f"===={j}단 입니다.====")
    for i in range(1, 10 ):
        print(f"{j}x{i}={ 1*i }")

====1단 입니다.====
1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
====2단 입니다.====
2x1=1
2x2=2
2x3=3
2x4=4
2x5=5
2x6=6
2x7=7
2x8=8
2x9=9
====3단 입니다.====
3x1=1
3x2=2
3x3=3
3x4=4
3x5=5
3x6=6
3x7=7
3x8=8
3x9=9
====4단 입니다.====
4x1=1
4x2=2
4x3=3
4x4=4
4x5=5
4x6=6
4x7=7
4x8=8
4x9=9
====5단 입니다.====
5x1=1
5x2=2
5x3=3
5x4=4
5x5=5
5x6=6
5x7=7
5x8=8
5x9=9
====6단 입니다.====
6x1=1
6x2=2
6x3=3
6x4=4
6x5=5
6x6=6
6x7=7
6x8=8
6x9=9
====7단 입니다.====
7x1=1
7x2=2
7x3=3
7x4=4
7x5=5
7x6=6
7x7=7
7x8=8
7x9=9
====8단 입니다.====
8x1=1
8x2=2
8x3=3
8x4=4
8x5=5
8x6=6
8x7=7
8x8=8
8x9=9
====9단 입니다.====
9x1=1
9x2=2
9x3=3
9x4=4
9x5=5
9x6=6
9x7=7
9x8=8
9x9=9

# 반복문을 이용해서
- 다음과 같이 출력되게 코딩해 보세요
- ★ : ㅁ 한자 
```
*****
★★★★★
```

# 이스케이프 문자
- \n : 개행
- \t : 4칸 공백

- __참고__ : print(end=) 를 찾아보세요

- 다음과 같이 출력되도록 작성해 보세요 
```
★★★★★
★★★★★
★★★★★
★★★★★
```

```
★
★★
★★★
★★★★
★★★★★
```

```
★★★★★
★★★★
★★★
★★
★
```

```
☆☆☆☆★
☆☆☆★★
☆☆★★★
☆★★★★
★★★★★
```

```
    ★
   ★★
  ★★★
 ★★★★
★★★★★
```

In [ ]:
"★" * 5

'★★★★★'

In [ ]:
for i in range(0,5):
    print("★", end = "")

★★★★★

In [ ]:
for j in range(0,4):
    for i in range(0,5):
        print("★", end = "")
    print("")

★★★★★
★★★★★
★★★★★
★★★★★

In [ ]:
for j in range(0,4):
    print("")
    for i in range(0,5):
        print("★", end = "")

★★★★★
★★★★★
★★★★★
★★★★★

In [ ]:
for j in range(0, 5):
    for i in range(0,j):
        print("★", end = "")
    print("")

★
★★
★★★
★★★★

In [ ]:
for j in range(0, 5):
    for i in range(5, j, -1):
        print("★", end = "")
    print("")

★★★★★
★★★★
★★★
★★
★

In [ ]:
for j in range(0, 5):
    for i in range(0, 5-j, 1):
        print("★", end = "")
    print("")

★★★★★
★★★★
★★★
★★
★

In [ ]:
print("☆"*4 + "★"*1)
print("☆"*3 + "★"*2)
print("☆"*2 + "★"*3)
print("☆"*1 + "★"*4)
print("☆"*0 + "★"*5)

☆☆☆☆★
☆☆☆★★
☆☆★★★
☆★★★★
★★★★★

In [ ]:
for i in range(5):
    print("☆"*i + "★"*(5-i))

★★★★★
☆★★★★
☆☆★★★
☆☆☆★★
☆☆☆☆★

In [ ]:
for i in range(1,5):
    for j in range(4-i):
        print("☆", end="")
    for j in range(i):
        print("★", end="")
    print()

☆☆☆★
☆☆★★
☆★★★
★★★★