<a href="https://colab.research.google.com/github/channy33/Sesac_lecture/blob/master/day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

```
1	treeHit = 0
2	while treeHit < 10:
3	    treeHit = treeHit +1 
4	    print(f"나무를 {treeHit}번 찍었습니다.")
5	    if treeHit == 10:
6	        print("나무 넘어갑니다.")
```

while vs for
- 마동석 : for 문 딱 10대만 맞자 
- 마동석 : while 힘들면 벨눌러

In [ ]:
acc = 0
a = 0
while a < 10:
    a = a+1
    acc += a
    print(f"a : {a}")
    print(f"acc : {acc}")

In [ ]:
# while 문을 이용해서 2의 10제곱을 구하도록 작성해 보세요 
a = 0
acc = 1
while a < 10:
    a += 1
    acc *= 2
    print(f"a : {a}")
    print(f"acc : {acc}")

In [ ]:
# continue
# 강제로 loop 를 돌게 만드는 예약어
# 조건문의 처음으로 돌아간다 (대신 조건은 그대로 이어받음 )
# break 
# 반복문을 빠져 나올때 사용한다. 

for i in range(3):
    print("1")
    # break
    for j in range(3):
        print("2")
        break

In [ ]:
a = 0 
while a < 15:
    a += 1 
    if a< 3:
        print(f"{a}<3")
        # continue
    if a< 10:
        print(f"{a}<10")
        # break
    print(f"{a}")
else:
    print("else break")

print("done")

In [ ]:
a = 0 
while a < 15:
    a += 1 
    if a< 3:
        print(f"{a}<3")
        continue
    if a< 10:
        print(f"{a}<10")
        break
    print(f"{a}")
else:
    print("else break")

print("done")

1<3
2<3
3<10
done

In [ ]:
# with 
# 어떤 연산들 사이의 작업을 수행할때 사용한다.
# 파일 열기 open()-close()
# save()-restore()

In [ ]:
! echo "hello world" > testfile.txt

In [ ]:
f = open("./testfile.txt",  "w")

In [ ]:
f.write("hi")
f.close()

In [ ]:
with open("./testfile.txt", "w") as f:
    f.write("hello~~~~")
# open 과 close 사이에 필요한 작업을 수행한다. 
# 동작을 수행할 때 준비작업을 수행하고, 종료시 수행하는 정리 작업을 함께 수행한다.

In [ ]:
# Try~except 
# - 프로그램에서 예외 상황이 발생하여 프로그램이 종료되는 상황 -> 에러메세지에 따라서 종료 또는 다른 문장을 수행할수 있도록 만들어준다.

In [ ]:
str_1 = "hello world"

In [ ]:
try:
    int(str_1)
except ValueError:
    print("ValueError 가 발생했습니다.")
    print("숫자로 입력하세요")

ValueError 가 발생했습니다.
숫자로 입력하세요

# for or while 문으로 작성하세요 

```
2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	 
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	 
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	 
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	 
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	 
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	 
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	 
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	 
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 8
```

In [ ]:
# 구구단 출력
print("2 x 1 = 2    ", end = "")
print("3 x 1 = 3    ", end = "")
print("")
print("2 x 6 = 12   ", end = "")
print("3 x 6 = 18   ", end = "")

2 x 1 = 2    3 x 1 = 3
2 x 6 = 12   3 x 6 = 18

In [ ]:
# 구구단 출력
print("2 x 1 = 2", end = "\t")
print("3 x 1 = 3", end = "\t")
print("")
print("2 x 6 = 12", end = "\t")
print("3 x 6 = 18", end = "\t")

2 x 1 = 2	3 x 1 = 3
2 x 6 = 12	3 x 6 = 18

In [ ]:
for j in range(1,10):
    for i in range(2, 10):
        print(f"{i} x {j} = {i*j}", end="\t")
    print("")

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [ ]:
# https://docs.python.org/3/library/random.html#random.randint
import random
rand_num = random.randint(1, 100)
print("숫자를 맞춰 보세요")
user_input=int(input("몇일까? "))

while (user_input != rand_num):# 숫자가 틀린 경우 -> True
    if user_input > rand_num:
        print("입력한 숫자가 큽니다.")
    else:
        print("입력한 숫자가 작습니다.")
    user_input=int(input("몇일까? "))
else:
    print(f"{user_input}, 정답입니다.")

숫자를 맞춰 보세요
입력한 숫자가 작습니다.
입력한 숫자가 큽니다.
입력한 숫자가 큽니다.
입력한 숫자가 큽니다.
입력한 숫자가 큽니다.
입력한 숫자가 큽니다.
12, 정답입니다.

In [ ]:
random.randrange(1, 100+1)

84

## 문제
배달 프로그램 작성, 단, 구독을 거부한 가구에는 배달되지 않아야 합니다.

- apart=[1001, 1002, 1003, 1004, 1005, 1006,2001, 2002, 2003, 2004, 2005, 2006, 3001, 3002, 3003, 3004, 3005, 3006, 4001, 4002, 4003, 4004, 4005, 4006]
- 거부 세대
    - refusal = [1001,2006,3005,4004]

```
신문 배달: 1002
신문 배달: 1003
신문 배달: 1004
신문 배달: 1005
신문 배달: 1006
신문 배달: 2001
신문 배달: 2002
신문 배달: 2003
신문 배달: 2004
신문 배달: 2005
신문 배달: 3001
신문 배달: 3002
신문 배달: 3003
신문 배달: 3004
신문 배달: 3006
신문 배달: 4001
신문 배달: 4002
신문 배달: 4003
신문 배달: 4005
신문 배달: 4006
```

```
가위,바위,보: 가위
이겼다
가위,바위,보: 가위
비겼습니다.
가위,바위,보: 보
비겼습니다.
가위,바위,보: 가위
비겼습니다.
가위,바위,보: 바위
이겼다
가위,바위,보: 보
이겼다
가위,바위,보: 가위
이겼다
가위,바위,보: 바위
졌다
가위,바위,보: 모
잘못내셨습니다.
가위,바위,보: 보
비겼습니다.
승:4
패:2
비김:4
```

In [ ]:
apart=[1001, 1002, 1003, 1004, 1005, 1006,2001, 2002, 2003, 2004, 2005, 2006, 3001, 3002, 3003, 3004, 3005, 3006, 4001, 4002, 4003, 4004, 4005, 4006]
refusal = [1001,2006,3005,4004]

In [ ]:
for door in apart:
    if door in refusal:
        continue
    else:
        print(f"신문 배달: {door}")

신문 배달: 1002
신문 배달: 1003
신문 배달: 1004
신문 배달: 1005
신문 배달: 1006
신문 배달: 2001
신문 배달: 2002
신문 배달: 2003
신문 배달: 2004
신문 배달: 2005
신문 배달: 3001
신문 배달: 3002
신문 배달: 3003
신문 배달: 3004
신문 배달: 3006
신문 배달: 4001
신문 배달: 4002
신문 배달: 4003
신문 배달: 4005
신문 배달: 4006

In [ ]:
for door in apart:
    if door not in refusal:
        print(f"신문 배달: {door}")

신문 배달: 1002
신문 배달: 1003
신문 배달: 1004
신문 배달: 1005
신문 배달: 1006
신문 배달: 2001
신문 배달: 2002
신문 배달: 2003
신문 배달: 2004
신문 배달: 2005
신문 배달: 3001
신문 배달: 3002
신문 배달: 3003
신문 배달: 3004
신문 배달: 3006
신문 배달: 4001
신문 배달: 4002
신문 배달: 4003
신문 배달: 4005
신문 배달: 4006

In [ ]:
# https://wikidocs.net/79
# srp_list = []
import random

In [ ]:
srp = ["가위", "바위", "보"]
random.choice(srp)

'보'

In [ ]:
srp_list = [random.choice(srp) for i in range(10)]
win = 0
lose = 0 
draw = 0
for s in srp_list:
    user_input = input("가위바위보 : ")
    if user_input == s:
        print("비겼습니다.")
        draw += 1
    elif user_input == "바위":
        if s == "보":
            print("졌다.")
            lose += 1
        elif s == "가위":
            print("이겼다.")
            win += 1
    elif user_input == "가위":
        if s == "바위":
            print("졌다.")
            lose += 1
        elif s == "보":
            print("이겼다.")
            win += 1
    elif user_input == "보":
        if s == "가위":
            print("졌다.")
            lose += 1
        elif s == "바위":
            print("이겼다.")
            win += 1
    else:
        print("잘못내셨습니다.")
        lose += 1
print(f"승리 : {win}")
print(f"패배 : {lose}")
print(f"무승부 : {draw}")

비겼습니다.
졌다.
이겼다.
비겼습니다.
졌다.
졌다.
잘못내셨습니다.
잘못내셨습니다.
졌다.
이겼다.
승리 : 2
패배 : 6
무승부 : 2

In [ ]:
srp_list = [random.choice(srp) for i in range(10)]
win = 0
lose = 0 
draw = 0
for s in srp_list:
    user_input = input("가위바위보 : ")
    if (user_input == "가위" and s == "보") or (user_input == "바위" and s == "가위") or (user_input == "보" and s == "바위"):
        print("이겼다.")
        win += 1
    elif (user_input == s):
        print("비겼다")
        draw += 1
    else:
        print("졌다")
        lose += 1
print(f"승리 : {win}")
print(f"패배 : {lose}")
print(f"무승부 : {draw}")

이겼다.
이겼다.
졌다
비겼다
비겼다
졌다
비겼다
이겼다.
이겼다.
졌다

In [ ]:
# 함수
# f(x) = 2x
# f(x,y) = x+y = x^2 + y^2
# 함수 믹서기
# 마 + 꿀 + 우유 -> 믹서기 -> 마라떼
# 아보카도 + 바나나 + 꿀 + 우유 -> 믹서기 -> 아바

# 아보카도 비빔밥
# 갈치 짜글이

In [ ]:
def add(a,b):
    c = a+b 
    return c

In [ ]:
add(1,2)

3

In [ ]:
type(add)

function

In [ ]:
# 1,3,2, 7.... -> int
# 3.42, 4949.2 -> float
# [] -> list
# fun -> function

# 함수 입력, 결과
# 입력 o, 결과 o (기본형)
# 입력 x, 결과 o 
# 입력 o, 결과 x
# 입력 x, 결과 x

In [ ]:
# 입력 x, 결과 o 
def func_1():
    result = "hello world"
    return result

In [ ]:
val_1 = func_1()
val_1

'hello world'

In [ ]:
def func_2(arg_1, arg_2):
    result = arg_1 + arg_2

In [ ]:
val_2 = func_2(3,4)

In [ ]:
print(val_2)

None

In [ ]:
# 입력 x, 결과 x
def func_3():
    result = "hello world"

In [ ]:
func_3()

In [ ]:
list_1 = [1,2,3,4,5]

In [ ]:
list_1.append(["hello", "world"])

In [ ]:
list_1

[1, 2, 3, 4, 5, ['hello', 'world']]

In [ ]:
list_2 = list_1.append(["hi", "world"])

In [ ]:
print(list_2)

None

In [ ]:
def func_4():
    print("hello world")

In [ ]:
func_4()

hello world

In [ ]:
val_3 = func_4()

hello world

In [ ]:
print(val_3)

None

In [ ]:
def swap(a,b,c):
    return c,a,b

In [ ]:
swap(3,4,5)

(5, 3, 4)

In [ ]:
swap(c=1, b=2, a=3) #매개변수를 지정하여 값을 입력할 수 있다.

(1, 3, 2)

In [ ]:
swap(1, 2, 3) #매개변수를 별도로 지정하지 않는 경우.

(3, 1, 2)

```
def func_1(a,b):
    return a+b

def func_2(a,b):
    return a*b

def main():
    val_1 = 1
    val_2 = 2
    val_3 = func_1(val_1, val_2)
    func_2(val_3, val_2)

if __name__ == "__main__":
    main()
```

print("hell)

In [ ]:
print("hello", "world", "hi", "어쩌구")

hello world hi 어쩌구

In [ ]:
def sum(a,b):
    result = a+b
    return result

In [ ]:
sum(1,2)

3

In [ ]:
sum(1,2,3,4)

TypeError: sum() takes 2 positional arguments but 4 were given

In [ ]:
def sum(*b):
    return b

In [ ]:
sum(1,2,3,4,5)

(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [ ]:
def sum(*b):
    acc = 0
    for i in b:
        acc += i
    return acc

In [ ]:
sum(1,2,3,4,5)

15

In [ ]:
args = {"a":1,"b":2,"c":3}

In [ ]:
swap(**args)

(3, 1, 2)

In [ ]:
# 과제

In [ ]:
def fun_and(x, y):
    pass
    return result

fun_and(1,0) -> 0
fun_and(0,0) -> 0
fun_and(0,1) -> 0
fun_and(1,1) -> 1


def fun_or(x, y):
    pass
    return result

fun_or(1,0) -> 1
fun_or(0,0) -> 0
fun_or(0,1) -> 1
fun_or(1,1) -> 1

def fun_xor(x,y):
    # fun_and fun_or 적당하게 사용 
    return result
fun_xor(1,0) -> 0
fun_xor(0,0) -> 1
fun_xor(0,1) -> 0
fun_xor(1,1) -> 1

SyntaxError: invalid syntax (4024867511.py, line 5)