<a href="https://colab.research.google.com/github/channy33/Sesac_lecture/blob/master/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# AND OR 연산자를 코드로 구현하시오

In [ ]:
# and_fun()
# 두개 1로 같으면 -> 1
# 나머지는 false
def and_fun1(x, y):
    if x == 1:
        if y == 1:
            return 1
        elif y == 0:
            return 0
    elif x == 0:
        if y == 1:
            return 0
        elif y == 0:
            return 0

In [ ]:
and_fun1(1,0)

In [ ]:
def and_fun2(x, y):
    if 0 not in (x, y):
        return 1
    else:
        return 0

In [ ]:
and_fun2(1,1)

In [ ]:
def and_fun3(x, y):
    if 0 not in (x, y):
        return 1
    else:
        return 0

In [ ]:
def and_fun3(x,y):
    result = (-x+1<y)
    return result

In [ ]:
and_fun3(1,1)

In [ ]:
# (0,0) -> 0
# (1,0) -> 1
# (0,1) -> 1
# (1,1) -> 1
def or_fun1(x,y):
    if 1 in (x,y):
        return 1
    else:
        return 0

In [ ]:
or_fun1(1,0)

In [ ]:
or_fun1(0,1)

In [ ]:
or_fun1(1,1)

In [ ]:
or_fun1(0,0)

In [ ]:
# or 랑 and 를 적당히 조합하여 xor 연산을 만드세요
def xor_fun(x,y):
    result = or_fun1(and_fun3(x, not y), and_fun3(not x, y))
    return result

In [ ]:
xor_fun(1,1)

In [ ]:
# 삼각형 넓이 문제
hight = int(input("hight : "))
width = int(input("width : "))
def triangle_area(width, hight):
    result = width * hight/2
    return result

triangle_area(width = width, hight = hight)

100.0

In [ ]:
triangle_area(10, 20)

100.0

In [ ]:
# # 
# 1. 도시를 추가 -> 도시 입력
# 2. 추가 완료 -> 입력받은 도시의 값들을 출력 앞의 세글자만 출력 -> 종료 
# 3. 종료 -> 그냥 종료 

# seoul
# busan
# 추가 완료
# seo, bus

def input_user():
    data = input("도시를 영어로 입력 하세요 : ")
    result = []
    result.append(data) 
    return result

def get_addr(list_data):
    result = []
    for i in list_data:
        result.append(i[:3])
    return result

number = 0
while number != 3:
    print("3번 : 종료")
    number = int(input("값을 입력 하세요 : ")) 

# def main():
#     while True:
#         pass

main() #실행

In [ ]:
def input_user():
    data = input("도시를 영어로 입력 하세요 : ")
    result = []
    result.append(data) 
    return result

In [ ]:
input_user()

['busan']

In [ ]:
list_data = ["seoul", "busan"]
result = []
for i in list_data:
    result.append(i[:3])
print(result)

['seo', 'bus']

In [ ]:
number = 0
prompt = '''
1. 도시를 추가
2. 추가 완료
3. 종료
'''
def input_user(list_data):
    data = input("도시를 영어로 입력 하세요 : ")
    # result = [] # 초기화가 되어버린다. -> 문제점...
    list_data.append(data) 
    # return result # list_data의 값이 변경되지 반환값은 없다. 

def get_addr(list_data):
    result = []
    for i in list_data:
        result.append(i[:3])
    return result

cities = [] # 함수 외부에서 선언했다. 
while number != 3:
    print(prompt)
    number = int(input("값을 입력 하세요 : "))
    if number == 1:
        input_user(cities)
    elif number == 2:
        prt = get_addr(cities)
        print(prt)
        break
    else:
        break

1. 도시를 추가
2. 추가 완료
3. 종료


1. 도시를 추가
2. 추가 완료
3. 종료


1. 도시를 추가
2. 추가 완료
3. 종료

['seo', 'bus']

# 변수의 유효범위
- 변수가 어느 범위에서 유효한지를 나타낸다. 
- 함수 내부에서 정의되는 변수. 지역(local) 변수
- 함수 외부에서 정의되는 변수. 전역(Global) 변수
- 변수를 호출하는 순서 : 지역변수 -> 전역변수

In [ ]:
# 지역 변수
def func_1():
    str_1 = "lv"
    print(str_1)

In [ ]:
func_1()

lv

In [ ]:
str_1 = "gv"
def func_2():
    str_1 = "lv"
    print(str_1)

In [ ]:
func_2()

lv

In [ ]:
str_1 = "gv"
def func_3():
    # str_1 = "lv"
    print(str_1)

In [ ]:
func_3()

gv

In [ ]:
str_1 = "gv"
def func_4():
    str_1 = "lv"
    print(str_1)

In [ ]:
func_4()

lv

In [ ]:
str_1

'gv'

In [ ]:
str_1 = "gv"
def func_5():
    global str_1
    str_1 = "lv"
    print(str_1)

In [ ]:
func_5()

lv

In [ ]:
str_1

'lv'

In [ ]:
str_1 = "gv"
def func_5():
    str_1 = "lv"
    global str_1
    print(str_1)

SyntaxError: name 'str_1' is assigned to before global declaration (1534378531.py, line 4)

In [ ]:
def func_5():
    str_2 = "lv"
    global str_2
    print(str_2)

SyntaxError: name 'str_2' is assigned to before global declaration (2178066858.py, line 3)

In [ ]:
# list
list_1 = [] 
def func_6():
    list_1.append("hi")

In [ ]:
func_6()

In [ ]:
list_1

['hi']

# 일급 시민 함수
- 함수를 다른 함수에 인수로 전달 가능
- 함수의 반환값으로 전달 가능 
- 변수나 자료구조에 함수를 저장할 수 있다.

def add(a,b):

In [ ]:
def add(a,b):
    return a+b

In [ ]:
var_1 = add

In [ ]:
var_1(1,2)

3

In [ ]:
def diff(a,b):
    return a-b

def mul(a,b):
    return a*b

In [ ]:
func_list = [add, diff, mul]

In [ ]:
for i in func_list:
    result = i(3,4)
    print(result)

7
-1
12

In [ ]:
def func_7(g,a,b):
    result = g(a,b)
    return result

In [ ]:
func_7(add,3,4)

7

In [ ]:
func_7(diff,3,4)

-1

In [ ]:
func_7(mul,3,4)

12

# 함수의 호출
- 함수로 인수를 전달하는 방법
    - call by value : C
        - 값에 의한 호출, 계산한 결과값이 함수의 인수로 전달된다.
        - 함수 내에서 인수값이 변경되어도 호출하는 측에는 아무런 영향을 주지 않는다.
        - 원본의 내용을 함수 내부에서 변경하는게 불가능하다. 
    - call by Reference : java 
        - 호출하는 변수의 참조 주소가 전달받는 함수의 인수로 전달된다. 
        - 함수 내부에서 변수가 변경되면 호출 당하는 변수에도 영향을 미친다.
        - 함수 내부에서 원본의 내용을 변경하는게 가능하다. 
    - call by object Reference(call by sharing) : python
        - 파이썬은 함수로 인수를 전달할때 객체의 참조를 전달한다.
        - 객체가 mutable 이나 immutable 이냐에 따라서 그 결과가 달라진다.

# mutable vs immutable
- 변수
    - 변수는 객체를 가리킨다.
    - a = 1 메모리에 1이 저장 , a는 메모리의 위치를 가리킨다. 
- 숫자형 : immutable
    - x -> 1 <-y : x와 y가 동시에 1을 가리킨다.
    - y += 1
    - x -> 1, y -> 2

In [ ]:
x = 1
y = x

In [ ]:
y += 1

In [ ]:
y

2

In [ ]:
x

1

문자열 
- x -> "abcd" <- y
- y += e

In [ ]:
x = "abcd"
y = x

In [ ]:
y += "e"

In [ ]:
x

'abcd'

In [ ]:
y

'abcde'

In [ ]:
x = [1,2]
y = x

In [ ]:
y += [3]

In [ ]:
y

[1, 2, 3]

In [ ]:
x

[1, 2, 3]

In [ ]:
y + [4]

[1, 2, 3, 4]

# 람다 함수 : 한줄짜리 함수 
- 이름이 없는 한줄짜리 함수
- 일반 함수는 함수를 정의 하고 함수를 인수로 전달
- 람다 함수는 정의와 동시에 함수 객체로 사용
```
(lambda <args> : <반활할 식>)(vals)
```

In [ ]:
(lambda x,y : x+y)(1,2)

3

In [ ]:
func_8 = lambda x,y : x+y

In [ ]:
func_8(1,2)

3

In [ ]:
(lambda x, acc=3 : acc+x)(4)

7

In [ ]:
# map, filter 함수
# - 함수를 매개변수로 전달하는 내장함수
# map() : https://docs.python.org/3/library/functions.html#map
#   - 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트를 구성해 반환 한다. 
# filter() : https://docs.python.org/3/library/functions.html#filter
#   - 리스트의 요소를 함수에 넣고 리턴된 값이 True 인 것으로 새로운 리스트 구성
list_input_a = [1,2,3,4,5]
def power(items):
    return items * items * items

In [ ]:
map_output = map(power, list_input_a)

In [ ]:
type(map_output)

map

In [ ]:
list(map_output)

[1, 8, 27, 64, 125]

In [ ]:
list_input_a = [1,6,3,10,5,3,7,8]

def under_5(items):
    return items < 5

In [ ]:
list(filter(under_5, list_input_a))

[1, 3, 3]

In [ ]:
# 3시 30분에 시작

In [ ]:
# 재규 함수 
def factorial(n):
    output = 1
    for i in range(1, n+1):
        output *= i
    return output

In [ ]:
factorial(10)

3628800

In [ ]:
# n! = n * n-1 * n-2 * ... 3* 2* 1
#    = n * (n-1)!
# (n-1)! = n-1 * (n-2)!
#...
# 2! = 2*1!
# 1! = 1 * 0!
# 0! = 1

# 재규함수 기본형
# '''
# def func(n):
#     if <condition>:
#         return value
#     else:
#         return value * func(n-1)
# '''

def factorial_r(n):
    if n == 0: # 탈출조건 
        return 1
    else:
        return n * factorial_r(n-1)

In [ ]:
factorial_r(10)

3628800

In [ ]:
# x^n을 구하는 함수를 만들어 보세요 (x를 n번 곱하는 재규함수)