<a href="https://colab.research.google.com/github/channy33/Sesac_lecture/blob/master/day5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수 연습문제

In [ ]:
# 1. 다음 코드의 실행 결과를 쓰시오.
def test(t):
    t = 20
    print ("In Function:", t)
    
x = 10
print ("Before:", x)
test(x)
print ("After:", x)

Before: 10
In Function: 20
After: 10

In [ ]:
# 2. 다음 코드의 실행 결과를 쓰시오.
def sotring_function(list_value):
    return list_value.sort()

print(sotring_function([5,4,3,2,1]))

None

In [ ]:
list_value = [5,4,3,2,1]
list_value.sort()

In [ ]:
list_value

[1, 2, 3, 4, 5]

In [ ]:
# 3. 다음 코드의 실행 결과를 쓰시오.
number = "100"
def midterm(number):
    result = ""
    if number.isdigit() is True:
        if number is 100:
            if number/10 == 1:
                result = True
    else:
        result = False

    return result

<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_394/3414581244.py:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if number is 100:

In [ ]:
number.isdigit()

True

In [ ]:
midterm(number)

''

In [ ]:
# 4. 다음과 같이 코드를 작성했을 때, 실행 결과로 알맞은 것은?
def is_yes(your_answer):
    if your_answer.upper() == "YES" or your_answer.upper() == "Y":
        result = your_answer.lower()
# return 이 없어서 None 이 반환된다. 

print(is_yes("Yes"))

None

In [ ]:
def is_yes(your_answer):
    if your_answer.upper() == "YES" or your_answer.upper() == "Y":
        result = your_answer.lower()
    return result
# return을 만들었더니 결과가 나온다. 

print(is_yes("Yes"))

yes

In [ ]:
# 5. 다음과 같이 코드를 작성했을 때, 실행 결과로 알맞은 것은?
def add_and_mul(a, b, c):
    return b + a * c + b

print(add_and_mul(3, 4, 5) == 63) # 결과는 23이다.

False

In [ ]:
# 6. 다음과 같이 코드를 작성했을 때, 실행 결과로 알맞은 것은?
# def args_test_3(one, two, *args):
#     print(one + two + sum(args))
#     print(args)

def args_test_3(one, two, *args, three):
    print(one + two + sum(args))
    print(args)

# args_test_3(3, 4, 5, 6, three=7)
args_test_3(3, 4, 5, 6, 7)

25
(5, 6, 7)

In [ ]:
# 7. 다음 코드의 실행 결과를 쓰시오.
def rain(colors):
    colors.append("purple")
    colors = ["green", "blue"]
    return colors
    
rainbow = ["red", "orange"]
print(rain(rainbow))

['green', 'blue']

In [ ]:
rainbow

['red', 'orange', 'purple']

In [ ]:
# 7. 다음 코드의 실행 결과를 쓰시오.
def rain(colors):
    colors.append("purple")
    rainbow = ["green", "blue"]
    global rainbow
    return colors
    
rainbow = ["red", "orange"]
print(rain(rainbow))

SyntaxError: name 'rainbow' is assigned to before global declaration (2314423407.py, line 5)

In [ ]:
rainbow

['green', 'blue']

In [ ]:
# 8. 다음 코드의 실행 결과를 쓰시오.
def function(value):
    print(value ** 3) # 함수가 동작하면서 발생하는 표준 출력
    # return value**3

print(function(2)) # 함수의 결과에 대한 표준 출력

8
None

In [ ]:
fruit = "appl"
# list(fruit) # 산산조각
# [fruit] # 한개로 들어간다.

In [ ]:
# 9. 다음 코드의 실행 결과를 쓰시오. 
def get_apple(fruit):
    fruit = list(fruit)
    fruit.append("e")
    fruit = ["apple"]
    return fruit

fruit = "appl"
get_apple(fruit)
print(fruit)

appl

In [ ]:
fruit

'apple'

In [ ]:
# 10. 다음과 같이 코드를 작성했을 때, 실행 결과로 알맞은 것은?
def return_sentence(sentence, n):
    sentence += str(n)
    n -= 1
    if n < 0:
        return sentence
    else:
        return(return_sentence(sentence, n))

sentence = "I Love You"
print(return_sentence(sentence, 5))

I Love You543210

In [ ]:
# 11. 다음 코드의 실행 결과를 쓰시오. 
def test(x, y):
    tmp = x
    x = y
    y = tmp
    return y.append(x)
    
x = ["y"]
y = ["x"]
test(x, y)
print(y)

['x']

In [ ]:
# 12. 다음 코드의 실행 결과를 쓰시오.
def countdown(n):
    if n %2 == 0:
        print ("Even")
    else:
        print ("Odd")
        countdown(n-1)
countdown(3)

In [ ]:
countdown(2)

In [ ]:
# 13. 다음 코드를 실행하면 결과값으로 120이 나온다. 빈칸에 들어갈 알맞은 코드를 작성하시오.
def factorial_calculator(n):
    if n in (0, 1):
        return 1
    else:
        return n * factorial_calculator(n-1)
        
print(factorial_calculator(5))

120

In [ ]:
# 14. 다음 코드의 실행 결과를 쓰시오. 
def calculrate_rectangle_area(rectangle_x,rectangle_y):
    rectangle_x = 3
    rectangle_y = 5
    result = rectangle_x * rectangle_y
    return result
    
rectangle_x = 2
rectangle_y = 4
calculrate_rectangle_area(rectangle_x, rectangle_y)

15

In [ ]:
# 14. 다음 코드의 실행 결과를 쓰시오. 
def calculrate_rectangle_area(rectangle_x=3, rectangle_y=5): # 기본값으로 3,5 를 할당 해놓은 상태 
    result = rectangle_x * rectangle_y
    return result
    
rectangle_x = 2
rectangle_y = 4
calculrate_rectangle_area(rectangle_x, rectangle_y)

8

In [ ]:
calculrate_rectangle_area()

15

In [ ]:
calculrate_rectangle_area(10, rectangle_y)

40

In [ ]:
# 15. 다음 코드의 실행 결과를 쓰시오.
def exam_func():# 매개변수?????
    x = 10
    print("Value:", x)

x = 20
exam_func()
print("Value:", x)

Value: 10
Value: 20

In [ ]:
# 15. 다음 코드의 실행 결과를 쓰시오.
def exam_func():# 매개변수?????
    global x 
    x = 10
    print("Value:", x)

x = 20
exam_func()
print("Value:", x)

Value: 10
Value: 10

In [ ]:
# 16. 다음 코드의 실행 결과를 쓰고, 그 결과값이 나오는 이유를 설명하시오.
country = ["Korea", "Japan", "China"]
country.append("Remove")
# print(country.remove("Remove"))
country.remove("Remove")

In [ ]:
country

['Korea', 'Japan', 'China']